*.pyc
__pycache__
.vscode
.DS_Store

run
run_*
run*.sh
compile.sh
clean.sh
backup
debug/
watch*
*.out
output.txt
vis_kg/
vis_codebook/
weights/
test_data/
tmp/
.env
*.log
vis_ingredients/
vis_test/
vis_codes
